footer.footer#contacto
  .container
    .row
      .col-24.col-md-8
        .footer__wrapper
          a.footer__logo(href="/")
            img(src="/images/logo-footer.png")
          p.footer__address Av. Libertador 4444 - 10 A - CABA
          a.footer__phone(href="tel:+5491145555555" target="_blank") +54 911 4.555.5555
          a.footer__email(href="mailto:contacto@ibinvestment.com" target="_blank") contacto@ibinvestment.com
          a.footer__web(href="/") www.ibinvestment.com
          ul.footer__social
            li.footer__social-item
              a(href="/")
                i.fab.fa-facebook
            li.footer__social-item
              a(href="/")
                i.fab.fa-whatsapp
            li.footer__social-item
              a(href="/")
                i.fab.fa-twitter
            li.footer__social-item
              a(href="/")
                i.fab.fa-instagram
      .col-24.col-md-8
        .footer__wrapper
          ul.footer__nav
            li.footer__nav-item 
              a(href="#vision") Visión
            li.footer__nav-item
              a(href="#productos") Productos
            li.footer__nav-item
              a(href="#como-invertir") Cómo invertir
            li.footer__nav-item
              a(href="#nosotros") Acerca de Nosotros
            li.footer__nav-item
              a(href="#contacto") Contacto
          p.footer__subtitle Descarga bitsmart app
          .footer__links
            a.footer__link(href="/")
              img(src="/images/google-play.png")
            a.footer__link(href="/")
              img(src="/images/app-store.png")
      .col-24.col-md-8
        .footer__wrapper
          form.footer__form
            h3.footer__form-title contacto
            .footer__form-group
              input.footer__input(placeholder="Nombre y Apellido")
              label.footer__label Nombre y Apellido
            .footer__form-group
              input.footer__input(placeholder="E-mail")
              label.footer__label E-mail
            .footer__form-group
              input.footer__input(placeholder="Teléfono")
              label.footer__label Teléfono
            .footer__form-group.footer__form-group--textarea
              textarea.footer__input.footer__input--textarea(placeholder="Comentario")
              label.footer__label Comentario
            .footer__form-group
              button.footer__submit enviar              
    //- .row
    //-   .col-24
  .footer__wrapper-bottom
    p.footer__copyright
      |Copyright 2020 
      |- 
      |BI Investment 
      span - 
      //- br
      br
      | Todos los derechos reservados
