.home {
    background: $black;
    padding-top: 90px;
    overflow: hidden;

    @include mq(md) {
        padding-top: 190px;
    }

    &__hero {
        background: url('../images/hero.jpg') no-repeat center top / cover;
        position: relative;
        padding: 100px 0;
        
        @include mq(md) {
            padding: 5% 0;
            margin: 50px 0;
            background: url('../images/hero.jpg') no-repeat center top / cover;
        }

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 130%;
            height: 0;
            padding-bottom: 60%;

            @include mq(md) {
                height: auto;
                padding-bottom: 0;
                width: 100%;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 100%;

                @include mq(md) {
                    top: 0;
                    left: 0;
                    width: 100%;
                    transform: translate3d(0,0,0);
                }
            }
        }

        &__container {
            height: 50vh;
        }

        &__slider,
        &__slide {
            height: 45vh;
        }

        &__slide {
            height: 100%;
            padding-top: 50px;
        }

        .slick-dots {
            bottom: 0;

            li {
                margin: 5px 3px;
                button {
                    &:before {
                        color: $lightGold;
                        opacity: 1;
                        font-size: 12px;
                    }
                }
            }

            .slick-active {
                button {
                    &:before {
                        color: $white;
                    }
                }
            }
        }

        &__slogan {
            color: $white;
            font-family: $titleFont;
            
            @include mq(md) {
                font-size: 30px;
            }

            br {
                display: none;

                @include mq(md) {
                    display: block;
                }
            }

            span {
                color: $lightGold;
                
                @include mq(md) {
                    font-size: 66px;
                }
            }
        }
    }

    &__insight {
        padding-bottom: 100px;

        @include mq(md) {
            padding-bottom: 5%;
        }

        &__wrapper {
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                left: 15px;
                top: 0;
                right: 15px;
                bottom: 0;
                background: $white;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                z-index: 2;
            }

            & > :nth-child(1) {
                .home__insight__container {
                    &:after {
                        @include mq(md) {
                            content: '';
                            position: absolute;
                            right: -15px;
                            top: 50px;
                            bottom: 50%;
                            background: linear-gradient(to top, $darkGray, $white);
                            width: 2px;
                            z-index: 4;
                        }
                    }
    
                    &:before {
                        @include mq(md) {
                            content: '';
                            position: absolute;
                            right: -15px;
                            top: 50%;
                            bottom: 50px;
                            background: linear-gradient(to bottom, $darkGray, $white);
                            width: 2px;
                            z-index: 4;
                        }
                    }
                }

                .home__insight__image {
                    img {
                        height: 60%;
                    }
                }
            }

            & > :nth-child(3) {
                .home__insight__container {
                    &:after {
                        @include mq(md) {
                            content: '';
                            position: absolute;
                            left: -15px;
                            top: 50px;
                            bottom: 50%;
                            background: linear-gradient(to top, $darkGray, $white);
                            width: 2px;
                            z-index: 4;
                        }
                    }
    
                    &:before {
                        @include mq(md) {
                            content: '';
                            position: absolute;
                            left: -15px;
                            top: 50%;
                            bottom: 50px;
                            background: linear-gradient(to bottom, $darkGray, $white);
                            width: 2px;
                            z-index: 4;
                        }
                    }
                }

                .home__insight__image {
                    img {
                        height: 60%;
                    }
                }
            }
        }
        
        &__container {
            // background: $white;
            position: relative;
            z-index: 3;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            // overflow: hidden;
        }

        &__group {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 20px;
            
            @include mq(md) {
                padding: 40px;
            }
        }

        &__image {
            margin-left: auto;
            margin-right: auto;
            height: 50%;
            text-align: center;
            margin-bottom: 20px;
            position: relative;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%,-50%,0);
                height: 100%;
            }
        }

        &__title {
            margin: 0;
            margin-bottom: 20px;

            &--light-gold {
                color: $lightGold;
                text-align: center;
            }

            &--dark-gold {
                color: $darkGold
            }
        }

        &__text {
            font-size: 14px;

            @include mq(md) {
                font-size: 16px;
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            font-size: 14px;

            @include mq(md) {
                font-size: 16px;
            }

            p {
                margin: 0 10px;
            }
        }

        &__button {
            white-space: nowrap;
            background: $darkGold;
            border: 2px solid $darkGold;
            padding: 10px 20px;
            border-radius: 5px;
            color: $white;
            font-weight: 500;
            cursor: pointer;
            outline: none;
            text-decoration: none;

            &--ghost {
                background: transparent;
                color: $darkGold;
            }
        }

        &__stats {
            display: block;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            background: $lightGold;
            position: relative;
            z-index: 1;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: $white;
            font-size: 26px;

            &:after {
                content: '';
                height: 0;
                width: 0;
                border-top: 20px solid $lightGold;
                border-bottom: 20px solid transparent;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3000;
            }

            span {
                &.gold {
                    color: $darkGold + #666;
                }

                &.red {
                    color: red;
                }
            }
        }

        &__stats-text {
            margin: 0;
        }

        &__chart-container {
            background: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        &__chart {
            padding: 40px 0;
        }

        .tv-lightweight-charts {
            position: relative;
            z-index: 10;
            margin-right: auto;
            margin-left: auto;
            // top: 50%;
            // transform: translateY(-50%);
        }
    }

    &__products {
        padding-bottom: 100px;

        @include mq(md) {
            padding-bottom: 5%;
        }

        &__title {
            color: $darkGold;
            text-align: center;
            margin: 0;
        }

        &__subtitle {
            color: $white;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }

        &__graph {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
            
            img {
                width: 100%;
            }
        }

        &__container {
            margin-bottom: 40px;
        }

        &__list {
        }

        &__item {
            color: $white;
            position: relative;
            padding-left: 25px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:after {
                content: '';
                position: absolute;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: $darkGold;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            span {
                color: $darkGold;
            }
        }

        &__benefits-title {
            color: $white;
            margin: 0;
        }

        &__benefits {
            margin: 40px 0 20px 0;
        }

        &__benefit {
            color: $white;
            display: flex;
            margin-bottom: 20px;

            p {
                margin: 0;
            }

            span {
                margin-right: 10px;
                display: block;
                font-size: 30px;
            }
        }

        &__wrapper {
            margin: 40px 0 20px 0;
        }

        &__wrapper-title {
            color: $darkGold;
            margin: 0;
            margin-bottom: 20px;
        }

        &__wrapper-text {
            color: $white;
            margin: 0;
            margin-bottom: 20px;
        }

        &__wrapper-button {
            width: 100%;
            display: block;
            padding: 20px 0;
            text-align: center;
            color: $darkGold;
            background: $white;
            text-transform: uppercase;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: 700;
        }
    }

    &__como-invertir {
        background: $white;

        @include mq(md) {
            background: transparent;
        }

        &__container {
            padding: 20px 0;
            margin-bottom: 30px;
            
            @include mq(md) {
                background: $white;
                padding: 50px 0;
                border-radius: 5px;
            }

            .col-4.col-md-20.offset-md-2 {
                .col-24.col-md {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        .home__como-invertir__step-image {
                            &:after {
                                content: '';
                                position: absolute;
                                left: calc(100% + 15px);
                                width: 40%;
                                top: 50%;
                                transform: translate3d(-50%, -50%, 0);
                                height: 1px;
                                border-top: 1px dotted $darkGold;
                                border-bottom: 1px dotted $darkGold;
                                display: none;

                                @include mq(md) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__title {
            color: $darkGold;
            font-size: 30px;
            // font-family: $titleFont;
            margin: 0;
            text-align: center;
            margin-bottom: 50px;

            @include mq(md) {
                text-align: left;
                font-size: 40px;
            }
        }

        &__step {
            width: 100%;
            text-decoration: none;
            display: block;
            position: relative;
            margin-bottom: 50px;

            &:after {
                @include trans;
                content: '';
                top: 50%;
                left: 125%;
                transform: translateY(-50%);
                background: $white;
                position: absolute;
                width: 2px;
                height: 100%;

                @include mq(md) {
                    display: none;
                }
            }

            &.-active {
                &:after {
                    content: '';
                    background: $darkGold;
                }
            }
        }

        &__step-image {
            width: 100%;
            // overflow: hidden;
            margin-bottom: 20px;
            position: relative;
            padding-bottom: 100%;
            height: 0;
            
            @include mq(md) {
                padding-bottom: 50%;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 90%;

                @include mq(md) {
                    width: 40%;
                }
            }
        }

        &__step-text {
            display: none;
            text-align: center;
            font-size: 14px;
            color: $black;
            margin: 0;

            @include mq(md) {
                display: block;
            }
        }

        &__wrapper {
            position: relative;
            margin-bottom: 50px;

            @include mq(md) {
                margin-bottom: 0px;
            }
        }

        &__content {
            @include trans;

            opacity: 0;
            display: none;
            margin-bottom: 50px;

            @include mq(md) {
                margin-bottom: 0;
            }

            &.-show {
                display: block;
            }

            &.-active {
                opacity: 1;
            }
        }

        &__content-heading {
            margin: 0;
            margin-bottom: 20px;
            font-size: 26px;
            color: $lightGold;
        }

        &__content-title {
            margin: 0;
            margin-bottom: 20px;
        }

        &__content-subtitle {
            font-weight: 100;
            margin: 0;
            margin-bottom: 40px;
            font-size: 18px;
        }

        &__content-item {
            position: relative;
            padding-left: 25px;

            &:after {
                content: '';
                position: absolute;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: $darkGold;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__group {
            display: flex;
            flex-wrap: wrap;

            &--contacto {
                flex-wrap: nowrap;
            }
        }

        &__group-image {
            width: 100%;

            @include mq(md) {
                width: 50%;
            }

            img {
                width: 100%;
            }
        }

        &__group-content {
            width: 100%;

            @include mq(md) {
                width: 50%;
            }
        }

        &__group-title {
            color: $darkGold;
            font-size: 24px;
            margin: 0;
            margin-bottom: 20px;
        }

        &__group-text {
            color: $midGray;
            margin: 0;
            margin-bottom: 20px;
        }

        &__app-links {
            display: flex;
        }

        &__app-link {
            width: 50%;

            img {
                width: 90%;
                display: block;

                &.-align-left {
                    margin-right: auto;
                }

                &.-align-right {
                    margin-left: auto;
                }
            }
        }

        &__contacto-text {
            display: flex;
            align-items: center;
            text-align: center;            
            
            @include mq(md) {
                height: 100%;
                margin: 0;
            }
        }

        &__contacto-button {
            width: 100%;
            display: block;
            padding: 20px 0;
            text-align: center;
            color: $white;
            background: $darkGold;
            text-transform: uppercase;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: 700;
        }

        &__col-modifier {
            background: $black;
        }
    }

    &__nosotros {
        padding: 100px 0;
        
        @include mq(md) {
            padding: 5% 0;
        }

        &__title {
            color: $lightGold;
            margin: 0;
            margin-bottom: 20px;
            font-size: 60px;
            font-family: $titleFont;
            font-weight: 100;
        }

        &__subtitle {
            color: $white;
            margin: 0;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 300;
        }

        &__text {
            color: $white;
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;
        }

        &__countries {
            color: $lightGold;
            margin: 0;
            margin-bottom: 20px;
            font-size: 20px;

            @include mq(md) {
            }
        }

        &__flags {
            img {
                // display: block;
                // margin-right: auto;
                // margin-left: auto;

                // @include mq(md) {
                //     margin-right: 0;
                //     margin-left: 0;
                // }
            }
        }
    }
}
