header.header
  .container
    .row
      .col-24
        .header__container
          a.header__logo(href="/")
            img(src="./images/logo.png")
          .header__group
            .header__login
              a.header__login-button(href="") ingresar
              a.header__register-button(href="") regístrese
            nav.header__nav
              ul.header__list
                li.header__item
                  a(href="#vision") visión
                li.header__item
                  a(href="#productos") productos
                li.header__item
                  a(href="#como-invertir") cómo invertir
                li.header__item
                  a(href="#nosotros") acerca de nosotros
                li.header__item
                  a(href="#contacto") contacto
            .header__hamburguer
              span
              span
              span

