.header {
    $h: &;

    &--scrolled-down {
        #{$h}__container {
            @include mq(md) {
                padding: 10px 0;
            }
        }

        #{$h}__logo {
            @include mq(md) {
                height: 50px;
            }
        }

        #{$h}__login {
            @include mq(md) {
                transform: translateY(-100%);
                height: 0;
                overflow: hidden;
                padding: 0;
            }
        }

        #{$h}__login-button,
        #{$h}__register-button {
            @include mq(md) {
                opacity: 0;
            }
        }

        #{$h}__item {
            a {
                @include mq(md) {
                    font-size: 12px;
                }
            }
        }
    }

    &--scrolled-up {
        #{$h}__login {
            @include mq(md) {
                transform: translateY(0);
                height: 30px;
                overflow: visible;
                // padding: 10px 0;
            }
        }

        #{$h}__login-button,
        #{$h}__register-button {
            @include mq(md) {
                opacity: 1;
            }
        }
    }

    @include trans;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $black;
    z-index: 999;
    // overflow: hidden;

    &__container {
        @include trans;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        @include mq(md) {
            padding: 70px 0 20px;
        }
    }

    &__logo {
        @include trans;

        z-index: 1000;
        height: 50px;
        
        @include mq(md) {
            height: 100px;
        }

        img {
            height: 100%;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        @include mq(md) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__login {
        @include trans;

        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        @include mq(md) {
            justify-content: flex-end;
            padding: 10px 0;
            height: 50px;
        }
    }

    &__login-button {
        @include trans;

        display: block;
        background: transparent;
        border: none;
        height: 100%;
        font-size: 14px;
        text-transform: capitalize;
        color: $white;
        text-decoration: none;
        text-align: center;
        font-family: $menuFont;
        font-weight: 500;

        @include mq(md) {
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
    }
    
    &__register-button {
        @include trans;

        display: block;
        background: transparent;
        border: 1px solid $lightGold;
        height: 100%;
        border-radius: 5px;
        font-size: 14px;
        text-transform: capitalize;
        color: $lightGold;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        margin-left: 10px;
        font-family: $menuFont;
        font-weight: 500;
        
        @include mq(md) {
            padding: 0 10px;
        }
    }

    &__nav {
        @include trans;

        position: absolute;
        background: $black;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq(md) {
            justify-content: flex-start;
            height: 50px;
            position: static;
            width: auto;
            transform: translateX(0);
        }
    }
    
    &__list {
        @include mq(md) {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        &:not(:first-child) {
            margin-left: 0;
            
            @include mq(md) {
                margin-left: 20px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @include mq(md) {
                margin-bottom: 0;
            }
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $white;
            font-size: 20px;
            font-family: $menuFont;
            font-weight: 500;

            @include mq(md) {
                font-size: 14px;
            }
        }
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        margin-left: 10px;

        @include mq(md) {
            display: none;
        }

        span {
            background-color: $mainColor;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {
            transform: translateX(0);
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
